html,
body {
  background: black;
}
p {
  color: grey;
}
a {
  color: #4285b4;
}
video {
  width: 85vw;
  max-width: 1200px;
}
#video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div {
  text-align: center;
}